.col-md-6.col-md-offset-3.panel.panel-default
  .panel-body
    %h2 Create a Landing Page
    = form_for @landing_page do |f|
      = f.fields_for :owner do |o|
        = form_group_for o, :name do
          = o.text_field :name, class: 'form-control'
        = form_group_for o, :email do
          = o.email_field :email, class: 'form-control'
        = form_group_for o, :password do
          = o.password_field :password, class: 'form-control'
        = form_group_for o, :password_confirmation do
          = o.password_field :password_confirmation, class: 'form-control'

      = form_group_for f, :url do
        = f.text_field :url, class: 'form-control'

      = f.submit 'Create account', class: 'btn btn-primary'