!!! 5
%html
  %head
    %title
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      %nav.navbar.navbar-default
        .navbar-header
          = link_to "Epic Landing Pages", root_path, class: "navbar-brand"
        .collapse.navbar-collapse
          - sign_in_out_classes = 'btn btn-default navbar-btn navbar-right' 
          - if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, method: 'delete', class: sign_in_out_classes
          - else
            = link_to 'Sign in', new_user_session_path, class: sign_in_out_classes

    .container
      = flash_message if show_layout_flash?

      .row
        = yield