!!! 5
%html
  %head
    %title
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      %nav.navbar.navbar-default
        .navbar-header
          = link_to "Epic Landing Pages", root_path, class: "navbar-brand"

    .container
      - flash.each do |name, msg|
        .flash{ id: "flash_#{name}" }= msg

      .row
        = yield